{% extends "header.html"%}
{%block content%}
<div id="mainBody">
<h1>See Posts from other Users in A.L.B !</h1>
<ul id= posts>
{% for item in posts %}
<div class=post>

<li><h3>{{ item.title }}</h3></li>
<div id='inlineInfo'>
<li>By:<i>{{ item.Uid }}</i></li>
<li> <img src="static/pic/{{item.Uid}}.jpg"> </li>
<li>Location:<i>{{ item.loc }}</i></li>
<li>Published on:<i>{{ item.time }}</i></li>
</div>
<br>
<br>
<li><h4>{{ item.post }}</h4></li>
</div>
<br>
<br>
{% else %}
<li>No posts yet </li>
{% endfor %}
</ul>

</div>
{%endblock%}
