{% extends "header.html"%}
{%block content%}
<div id="mainBody">
<h2> These are all {{ info }}'s posts:  </h2>
<ul id= posts>

{% for item in posts %}
<div class=post>
<li> <img src="static/pic/{{item.Uid}}.jpg"> </li>
<li><h3>{{ item.title }}</h3></li>
<div id='inlineInfo'>
<li>By:<i>{{ item.Uid }}</i></li>
<li>Location:<i>{{ item.loc }}</i></li>
<li>on the:<i>{{ item.time }}</i></li>
</div>
<br>
<li><h4>{{ item.post }}</h4></li>
</div>
<br>
<br>
{% else %}
<li>You have no posts yet! <a href="post">Click here</a> to write your first post </li>
{% endfor %}
</ul>

</div>
{%endblock%}
