{% extends "header.html"%}
{%block content%}
<form action="{{ url_for('post') }}" method="post">
<div id=NewPostBox>

<p>
  <label for="title"> <h2> Post Title : </h2></label>
  <input required type="text" name="title" id="title" placeholder="Enter a Title!" />
</p>

<p>
  <label for="title"> <h2> Where?: </h2></label>
  <input required type="text" name="location" id="location" placeholder="Enter a location!" />
</p>
		
<p>
  <label for="post"> <h2> Post :</h2></label>
  <TEXTAREA type="text" name="post"  id="post" placeholder="Whats on your mind?" ROWS=8 COLS=100></TEXTAREA>
</p>

<input type="submit" value="Submit Post" class="searchButton"/>
{{ info }}
</form>

</div>

{%endblock%}

