{% extends "header.html"%}
{%block content%}
<form action="{{ url_for('post') }}" method="post">
<div id=NewPostBox>

<p>
  <label for="title"> Title : </label>
  <input required type="text" name="title" id="title" placeholder="Enter Title!" />
</p>
		
<p>
  <label for="post"> Post :</label>
  <TEXTAREA type="text" name="post"  id="post" placeholder="Whats on your mind?" ROWS=8 COLS=100></TEXTAREA>
</p>

<input type="submit" value="Submit Post"/>
{{ error }}
{{ form  }}
</form>

</div>

{%endblock%}

